ollama
chromadb
pdfplumber 
langchain
langchain-core
langchain-ollama
langchain-openai
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
fastembed
pikepdf
sentence-transformers
elevenlabs
pandas
python-dotenv
matplotlib
pytest>=7.0.0
pytest-mock>=3.10.0